# MongoDB Atlas
# Inlocuieste <PAROLA_MONGODB> si <cluster-url> cu datele reale din Atlas.
# Userul primit: adryan1
# IP-uri mentionate pentru Access List: 86.124.142.77/32 si 90.95.231.200/32
MONGODB_URI="mongodb+srv://adryan1:<PAROLA_MONGODB>@<cluster-url>/cata-stoma?retryWrites=true&w=majority"
MONGODB_DB="cata-stoma"

# Login doctor
DOCTOR_USERNAME="doctor"
DOCTOR_PASSWORD="doctor1"
